body{
     font-family: fantasy;
}
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
  }

  th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
  }

  /* Estilo para las redes sociales */
  .redes-sociales {
    text-align: center;
    margin-top: 30px;
  }

  .redes-sociales a {
    margin: 0 10px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }

  .redes-sociales a:hover {
    color: #0077cc;
  }