
p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100%;
}
h1 {
    font-size: 500%;
    text-align: center;
    color: rgb(255, 255, 255);
}
body{
    background-image: url(Avion1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 250; height: 250;
    background: rgba(255, 202, 202, 0.8)
}

.Fondo-Texto{
    background: rgba(223, 178, 110, 0.7);
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 150%;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    
}



.botones {
    color: #f7cfbb;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    display: block;
    font-weight: 600;
}
.botones :hover{
    cursor: pointer;
    color: #9e5a38;
}

.boton-img-ubi{   
        border: #f9f7f7 solid 2px;
        border-radius: 60px;
        padding: 13px;
        margin: 5%;
        width: 100px;
        height: 100px;
        transition: transform 0.3s ease;
        align-items: center;
      }
    
.boton-img-ubi:hover{
        transform: scale(1.1);
        cursor: pointer;
        align-items: center;
      }
